<footer id="footer" class="overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="footer-top-area">
        <div class="row d-flex flex-wrap justify-content-between">
          <div class="col-lg-3 col-sm-6 pb-3">
            <div class="footer-menu">
              <img src="/imageUrl/main-logo.png" alt="logo" class="footer-logo">
              <p class="footer-description">Nơi cung cấp đồng hồ chính hãng với chất lượng và dịch vụ hàng đầu. Hãy đồng hành cùng chúng tôi để tìm chiếc đồng hồ hoàn hảo.</p>
            </div>
          </div>

          <div class="col-lg-2 col-sm-6 pb-3">
            <div class="footer-menu text-uppercase">
              <h5 class="widget-title pb-2">Liên Kết Nhanh</h5>
              <ul class="menu-list list-unstyled text-uppercase">
                <li class="menu-item pb-2"><a href="#">Trang Chủ</a></li>
                <li class="menu-item pb-2"><a href="#!/about">Giới Thiệu</a></li>
                <li class="menu-item pb-2"><a href="#!/shop">Shop</a></li>
                <li class="menu-item pb-2"><a href="#!/news">Tin Tức</a></li>
                <li class="menu-item pb-2"><a href="#!/contact">Liên Hệ</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 pb-3">
            <div class="footer-menu text-uppercase">
              <h5 class="widget-title pb-2">Hỗ Trợ & Thông Tin</h5>
              <ul class="menu-list list-unstyled">
                <li class="menu-item pb-2"><a href="#">Theo Dõi Đơn Hàng</a></li>
                <li class="menu-item pb-2"><a href="#">Chính Sách Đổi Trả</a></li>
                <li class="menu-item pb-2"><a href="#">Vận Chuyển & Giao Hàng</a></li>
                <li class="menu-item pb-2"><a href="#!/contact">Liên Hệ Chúng Tôi</a></li>
                <li class="menu-item pb-2"><a href="#">Câu Hỏi Thường Gặp</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 pb-3">
            <div class="footer-menu contact-item">
              <h5 class="widget-title text-uppercase pb-2">Liên Hệ</h5>
              <p>Bạn có câu hỏi hoặc góp ý? <a href="mailto:taivtps34187@fpt.edu.vn">taivtps34187@fpt.edu.vn</a></p>
              <p>Cần hỗ trợ? Gọi ngay cho chúng tôi: <a href="tel:0366019289">0366019289</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

</footer>


